html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.main
{
    display: grid;
     grid-template-columns: 325px 1fr;
    height: 100%;

}



.sidenav{
    background-color: #17252a;
    height: 100%;
    width: 325px;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    align-items: center;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.25);
}
.sidebarimage{
   display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #2b7a78;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.sidebarname {
    font-family: "Open Sans", sans-serif;
    font-size: 20pt;
    margin-top: 15px;
    margin-bottom: 0px;
}
.sidebarquotes {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12pt;
    margin: 0pt;
}
.sidebarauthor {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 8pt;
    text-align-last: right;
    margin-top: 3pt;
    margin-right: 10pt;
    margin-left: 10pt;
    margin-bottom: 0pt;
}
hr {
    height: 1px;
    background-color: white;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo-buttons{
    float: left;
    width: 100%;
    margin-bottom: 35px;
    justify-content:space-around;
    display: flex;
    flex-direction: row;
}

.mediaicon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
    

}
.download{
    display: none;
    
}
.download:hover{
    display: block;
    color: white;

}

.urls a{
    text-decoration: none;
    height: 35px;
    margin: 0px;
    padding: 0px;
    border: none;
    color: #def2f1;
    background-color: #17252a;
    cursor: pointer;
   display: flex;
    flex-direction: column; 
    gap: 4px;
    vertical-align: middle;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 15px;
    outline: none;
    transition: #17252a 0.25s ease;
    padding-block: 1px;
    padding-inline: 6px;

}
.about {
    background-color: #3aafa9;
    min-height: 100vh;
    width: 100%; /* this is optional here if using grid properly */
}
.title {
    padding: 50px;
    width: auto;
}
.firstname {
    font-family: "Kumbh Sans", sans-serif;
    color: white;
    text-shadow: 4px 4px 5px #17252a80;
    font-size: 400%;
    margin: 0;
    width: auto;
    vertical-align: middle;
    animation: fadein 3s;
}
.lastname {
    font-family: "Kumbh Sans", sans-serif;
    color: var(--color1);
    text-shadow: 3px 3px 5px #17252a70;
    font-size: 400%;
    width: auto;
    margin: 0;
    margin-left: 35pt;
    vertical-align: middle;
    animation: fadein 5s;
}
.container {
    position: relative;
    text-align: center;
    display: block;
    border-top: 25px solid gray;
    margin-left: 23%;
    margin-right: 23%;
}
.typedtextclass {
    position: absolute;
    text-align: left;
    font-family: "Ubuntu Mono", monospace;
    color:white;
    font-size: 1.3vm;
    background-color: black;
    line-height: 180%;
    border-bottom: 45px solid black;
}
@media screen and (max-width: 426px) {
   @media screen and (max-width: 426px) {
    .main {
        grid-template-columns: 1fr;
    }
    .sidenav {
        width: 100%;
        position: relative; /* to stack it above .about */
    }
}

}
 
