.main
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sidenav{
    background-color: #17252a;
    height: 100%;
    width: 300px;
    padding: 10px;
    background-color: #17252a;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.25);
}
.sidebarimage{
   display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #2b7a78;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.sidebarname {
    font-family: "Open Sans", sans-serif;
    font-size: 20pt;
    margin-top: 15px;
    margin-bottom: 0px;
}
.sidebarquotes {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12pt;
    margin: 0pt;
}
.sidebarauthor {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 8pt;
    text-align-last: right;
    margin-top: 3pt;
    margin-right: 10pt;
    margin-left: 10pt;
    margin-bottom: 0pt;
}
hr {
    height: 1px;
    background-color: white;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}
.logo-buttons button {
  
}

.mediaicon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
}
.urls a{
    text-decoration: none;
    height: 35px;
    margin: 0px;
    padding: 0px;
    border: none;
    color: #def2f1;
    background-color: #17252a;
    cursor: pointer;
    display: block;
    vertical-align: middle;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 15px;
    outline: none;
    transition: #17252a 0.25s ease;
    padding-block: 1px;
    padding-inline: 6px;

}
@media screen and(max-width:426px){
    .main{
        grid-template-columns: 1fr;
    }
    
} 
    
